<form>
    <table class="table" id="past-summary-table">
        <thead>
        <!-- <tr>
          
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
        </tr> -->
        </thead>

        <tbody>
        <!-- AJAX content -->
        </tbody>
    </table>


    <div id="google_table_div_past"></div>
    
</form>