<div class="fetched-info">
    <!-- <div class="description">
        Company description: [x]
    </div>
    <div class="headquartes">
        Headquartes: [x]
    </div> -->
</div>

<table class="table tableProfileExplorer" id="parent-table">
     <tbody>
        <tr>
            <td>
                <h4 class="profileExplorerTitle">Profile explorer</h4>

                <div class="borderExplorer">
                    <div class="profileExplorer">
                        <div class="radioBtn">
                            <input type="radio" id="tableViewOrganic" name="Type1" value="xxx" checked>
                            <label for="tableViewOrganic">Organic order</label><br>
                        </div>
                        <div class="radioBtn">
                            <input type="radio" id="tableViewGrouped" name="Type1" value="xxx">
                            <label for="tableViewGrouped">Grouped by Seniority</label><br>
                        </div>
                    </div>
    
                    <div id="google_table_div" >
    
                    </div>
    
                    <div id="tabulator_div" >
    
                    </div>
                </div>
                
            </td>

            <td style="max-width: 410px; padding-left: 40px;">
                <table id="summary-results-table">
                    <tr>
                        <h4>Summary of results</h4>
                        <p class="employeeStatus"> Employee Status:</p>
                    </tr>

                    <tr>
                        <td>
                            <div>
                                <!-- <button class="button button1" id="getCurentBtn" enabled>Current</button> -->
                                <!-- <input type="checkbox" id="getCurentBtn" name="xx" value="xx" checked >
                                <label for="xxx"> Current</label><br>

                                <input type="checkbox" id="getPastBtn" name="xx" value="xx" >
                                <label for="xxx"> Past</label><br> -->
                                <div class="radioBtn">
                                    <input type="radio" id="getCurentBtn" name="Type" value="xxx" checked>
                                    <label for="getCurentBtn">Current</label><br>
                                </div>
                                
                                <div class="radioBtn">
                                    <input type="radio" id="getPastBtn" name="Type" value="xxx">
                                    <label for="getPastBtn">Past</label><br>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:400px">
                            <p> Job Role:</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div style="width:400px"> 
                                <!-- <input type="checkbox" id="jobSelector1" name="xx" value="xx"  >
                                <label id="jobSelectorLabel1" for="xxx"> Job 1</label><br> -->

                                <div class="radioBtn">
                                    <input type="radio" id="jobSelector1" name="Job" value="xxx">
                                    <label id="jobSelectorLabel1" for="jobSelector1">Job 1</label>
                                </div>
                                <div class="radioBtn">
                                    <input type="radio" id="jobSelector2" name="Job" value="xxx">
                                    <label id="jobSelectorLabel2" for="jobSelector2">Job 2</label>
                                </div>
                                <div class="radioBtn">
                                    <input type="radio" id="jobSelector3" name="Job" value="xxx">
                                    <label id="jobSelectorLabel3" for="jobSelector3">Job 3</label>
                                </div>
                                <div class="radioBtn">
                                    <input type="radio" id="jobSelector4" name="Job" value="xxx" checked>
                                    <label id="jobSelectorLabel4" for="jobSelector4">Show All</label>
                                </div>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div style="width:400px"> 
                                <!-- <input type="checkbox" id="jobSelector2" name="xx" value="xx"  >
                                <label id="jobSelectorLabel2" for="xxx"> Job 2</label><br> -->
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div style="width:400px"> 
                                <!-- <input type="checkbox" id="jobSelector3" name="xx" value="xx"  >
                                <label id="jobSelectorLabel3" for="xxx"> Job 3</label><br> -->
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div style="width:400px"> 
                                <!-- <input type="checkbox" id="jobSelector4" name="xx" value="xx" checked >
                                <label id="jobSelectorLabel4" for="xxx"> Display All</label><br> -->
                            </div>
                        </td>
                    </tr>
                </table>

                <table id="search-control-table">
                    <tr>
                        <h4 class="searchControlTitle">Search control</h4>
                        <p> Organic results:</p>
                     </tr>

                     <tr>
                        <td>
                            <div class="paginateButtonsContainer">
                                <button id="GetMoreEmployees" class="paginateButton" enabled>Load Next 10 Current</button>
                                <button id="GetMoreExEmployees" class="paginateButton" enabled>Load Next 10 Past</button>
                            </div>                 
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>



<!-- <ul class="nav nav-pills main-nav" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="current-employees-tab" data-toggle="pill" href="#current-employees" role="tab" aria-controls="current-employees" aria-selected="true">Current employees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="past-employees-tab" data-toggle="pill" href="#past-employees" role="tab" aria-controls="past-employees" aria-selected="false">Past employees</a>
    </li>
</ul> -->



<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="current-employees" role="tabpanel" aria-labelledby="pills-home-tab"><%- include('./currentSummary') %></div>
    <div class="tab-pane fade" id="past-employees" role="tabpanel" aria-labelledby="pills-profile-tab"><%- include('./pastSummary') %></div>
</div>
