<div class="header">
    <!-- <div class="refresh-block">
        <button id="refreshBtn" disabled>Fetch next profile</button>
    </div> -->
<!-- 
    <div class="refresh-block">
        <button id="GetMoreEmployees" enabled>Get More Employees</button>
    </div>

    <div class="refresh-block">
        <button id="GetMoreExEmployees" enabled>Get More Ex Employees</button>
    </div> -->
<!-- 
    <form>
        <input required type="text" id="companyUrl" name="companyUrl" placeholder="Company name">
        <input disabled type="button" id="sendCompanyUrl" value="send">
    </form>

    <select id="listOfFiles">
        <%listOfFiles.map(files => {%>
            <option value="<%= files %>"><%= files %></option>
        <%})%>
    </select> -->

</div>


<div class="current-time-line time-line-container">
    <ul class="current-employees-list employee-names">
        <!-- Content from JS -->
    </ul>
    <div id="timeLine" style="height: 2000px;">
        <!-- Content from JS -->
    </div>
</div>
<div class="ex-time-line time-line-container">
    <ul class="ex-employees-list employee-names">
        <!-- Content from JS -->
    </ul>
    <div id="exTimeLine" style="height: 100px;">
        <!-- Content from JS -->
    </div>
</div>

