<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>



    </head>
    <body>
        <div id="main-header">
            <h4 class="logo"><span class ="alphaSymbol" >α</span> List<span class = "alpha">Alpha</span></h4> 
        </div>

        

        <div class="navigation-bar">
            
            <!-- <img src="/home.png" alt="home"> -->
            <!-- <span class="go-home">
                Home
            </span> -->

            <div class="home">
                <img src="../images/home-icon.png" width="24" height="24">
                <a href="javascript:void(0);">Home</a>
            </div>
            <h5 class="company-name">
                <!-- AJAX content -->
            </h5>
            <ul class="nav nav-pills main-nav" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="summary-tab" data-toggle="pill" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Profile explorer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="timeLineView-tab" data-toggle="pill" href="#timeLineView" role="tab" aria-controls="timeLineView" aria-selected="false">Timeline view</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="flowView-tab" data-toggle="pill" href="#flowView" role="tab" aria-controls="flowView" aria-selected="false">Flow view</a>
                </li>
            </ul>

            <form class="input-group search-field">
                <input required type="text" id="companyUrl" name="companyUrl" placeholder="Company name" class="form-control">
                <div class="input-group-append">
                    <input disabled type="button" id="sendCompanyUrl" value="send" class="btn btn-outline-primary">
                </div>
            </form>
            <!-- <p>Add new company:</p> -->
            <div class="addNewCompanyBtnDiv">
                <button class="addNewCompanyBtn" id="addNewCompany">+</button>
                <div class="xxx">
                    <select class="drop-down" id="listOfFiles" >
                        <%listOfFiles.map(files => {%>
                            <option value="<%= files %>"><%= files %></option>
                        <%})%>
                    </select> 
                </div>
            </div>
        


        </div>




        <div class="main-content">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="pills-home-tab"><%- include('components/summary') %></div>
                <div class="tab-pane fade" id="timeLineView" role="tabpanel" aria-labelledby="pills-profile-tab"><%- include('components/timeLineView') %></div>
                <div class="tab-pane fade" id="flowView" role="tabpanel" aria-labelledby="pills-contact-tab"><%- include('components/flowView') %></div>
            </div>
        </div>


        <div class="lds-dual-ring"></div>
        <div class="backgroundLoader"></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="/javascripts/index.js"></script>

        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


        <!-- tabulator inclusion-->
        <!-- <link href="https://unpkg.com/tabulator-tables@4.0.5/dist/css/tabulator_simple.min.css" rel="stylesheet"> -->
        <!-- <link href="https://unpkg.com/tabulator-tables@4.0.5/dist/css/tabulator.min.css" rel="stylesheet"> -->
        <!-- <link href="/tabulator-master/dist/css/tabulator_simple.min.css" rel="stylesheet"> -->
        <!-- <link href="/dist/css/bootstrap/tabulator_bootstrap.min.css" rel="stylesheet"> -->
        <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.5/dist/js/tabulator.min.js"></script>

    </body>
</html>
